absl-py
anyio
asttokens
astunparse
backcall
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fastapi
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httptools
idna
ipykernel
ipython
itsdangerous
jax
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
oauthlib
opt-einsum
optional-django
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pydantic
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
react
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sklearn
sniffio
stack-data
starlette
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
threadpoolctl
tornado
traitlets
typing_extensions
urllib3
uvicorn
watchfiles
wcwidth
websockets
Werkzeug
wrapt
